.issues {
  padding: 80px 130px;
  background-color: #f4f9f8;

  .content {
    h4 {
      margin: 0 auto;
      font-size: 32px;
      max-width: 800px;
      text-align: center;
    }

    .cards {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      .card {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);

        width: 360px;
        .header {
          background-color: #4a9c99;
          color: white;
          text-align: center;
          font-size: 24px;
        }

        .body {
          padding: 20px;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
