.efficiency {
  padding: 80px 130px;
  .content {
    .title {
      font-size: 32px;
      text-align: center;
      font-weight: 700;
    }
    .images {
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px auto;
    }
    .cards {
      display: flex;
      //   justify-content: space-between;

      margin-top: 40px;
      flex-wrap: wrap;
      gap: 40px;
      .card {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);

        width: calc((100% / 3) - 40px);
        .header {
          display: flex;
          align-items: center;
          background-color: #d8663a;
          color: white;
          text-align: center;
          font-size: 24px;
          padding: 12px 16px;
          border-radius: 5px 5px 0 0;
        }

        .body {
          padding: 20px;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
