.savings {
  padding: 80px 130px;

  .title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 40px;
    .card {
      padding: 10px;
      width: calc((100% / 2) - 40px);
      border: 2px solid #4a9c99;
      border-radius: 5px;

      .header {
        padding: 10px;
        background: #4a9c99;
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 5px;
      }
      h5 {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        span {
          color: #601a09;
        }
      }
      .littleCard {
        width: 100px;
        border-radius: 10px;
        .topHeader {
          background-color: #601a09;
          color: white;
          padding: 6px;
          border-radius: 10px 10px 0 0;
        }
        .topMain {
          background: #4a9c99;
          padding: 26px;
          text-align: center;
          color: white;
          border-radius: 0 0 10px 10px;
        }
      }
      .cardWrap {
        padding: 26px 16px;
        background-color: #4a9c99;
        font-size: 12px;
        color: white;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
