@import 'src/styles/variables.scss';

.header {
  padding: 12px 80px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 13px 30px;
      border: none;
      border-radius: 200px;
      color: white;
      background: linear-gradient(to right, #d8663a, #f8da49);
      font-size: 16px;
      font-weight: 500;
    }
  }
}
