.connectivity {
  background-color: #f4f9f8;
  padding: 80px 130px;
  .content {
    .title {
      font-size: 32px;
      text-align: center;
    }
    .images {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .cards {
      // width: 98%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .card {
        width: 250px;
        border-radius: 10px;
        border: 2px solid #4a9c99;
        padding: 10px;
        background-color: white;

        .header {
          background-color: #4a9c99;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
          color: white;
          font-size: 20px;
        }
        img {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
